Bank_Services/Bank_Engine/src/main/resources/UserFile.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserEnrollmentXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="bank_name"/>
        <xs:element type="xs:string" name="customer_debit_card_selection"/>
        <xs:element type="xs:string" name="insurer_client_name"/>
        <xs:element type="xs:short" name="bank_balance"/>
        <xs:element type="xs:string" name="first_name"/>
        <xs:element type="xs:string" name="middle_name"/>
        <xs:element type="xs:string" name="last_name"/>
        <xs:element type="xs:string" name="email_id"/>
        <xs:element type="xs:string" name="first_line_address"/>
        <xs:element type="xs:string" name="second_line_address"/>
        <xs:element type="xs:string" name="first_line_office_address"/>
        <xs:element type="xs:string" name="second_line_office_address"/>
        <xs:element type="xs:int" name="pin_code"/>
        <xs:element type="xs:string" name="country"/>
        <xs:element type="xs:string" name="city"/>
        <xs:element type="xs:long" name="mobile_number"/>
        <xs:element type="xs:string" name="date_of_birth"/>
        <xs:element type="xs:int" name="ssn"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>